    
            <% if @users.length>0 %>
                
            <table class="table table-striped" id="dataTable" width="98%" cellspacing="0">
                <thead>
                      <tr>
                          <div class="d-flex border-bottom text-dark mb-3 bg-none" style="font-weight: bold;">
                            <div style="width: 5%;"></div>
                              <div style="width: 30%;">Nom et Prenoms</div>
                              <div style="width: 10%;">Sexe</div>
                              <div style="width: 20%;">Date de naissance</div>
                              <div style="width: 35%;">Adresse</div>
                          </div>
                      </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                        <div class="d-flex border-bottom text-dark pt-1 pb-1" onclick="show('<%= user.id%>')" style="cursor:pointer;">
                               <div style="width: 5%;">
                                  <% if user.avatar? %>
                                    <%= image_tag rails_blob_path(user.avatar , disposition: "inline"), class: "rounded-circle", width: "30px" %>
                                <% else %>
                                <span class="badge badge-primary rounded-circle text-white" style="width: 30px; height: 30px; font-size: 18px; display: flex; justify-content: center; align-items: center;">
                                <%= user.nom[0].upcase + user.prenom[0].upcase %> <!-- Première lettre du nom -->
                                </span>
                                <% end %>
                               </div>
                              <div style="width: 30%;"><b><%= user.nom.titleize%></b> <%= user.prenom.titleize%></div>
                              <div style="width: 10%;"><%= user.sexe? ? "Masculin": "Feminin" %></div>
                              <div style="width: 20%;"><%= l(user.date_naissance, format: :long) %></div>
                              <div style="width: 35%;"><%= user.adresse%></div> 
                          </div>
                      </tr>
                  <% end %>
                </tbody>
            </table>
            <% else %>
                <h2>No result</h2>
            <% end %>
            