<style>
     @media (max-width:500px) {
        #containers, #cont-prof{
            display: block !important;
            width: 100% !important;
        }

        #email-action{
            width: 100% !important;
            justify-content: space-evenly !important;
        }
      }
</style>

<div class="card shadow mb-4" style="height: 85vh;">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">
          <a href="javascript:history.go(-1)"> <i class="fas fa-chevron-left"></i></a>
          <%= @email.objet %></h2>
          <span class="badge badge-primary" style="width: 150px;">
            
            <% if @etat=="br" %>
                Boite de reception
            <% elsif @etat=="env"%>
                Message envoyé
            <% elsif @etat=="arch"%>
                Archive
            <% elsif @etat=="spam"%>
                Spam
            <% elsif @etat=="fav"%>
                Favoris
            <% elsif @etat=="corb"%>
                Corbeille
            <% end %>
            
            

          </span>
    </div>
    <div class="card-body" >
      <div class="d-flex align-items-center justify-content-between border-bottom border-2" id="containers">
        <div class="d-flex align-items-center" id="cont-prof">
          <div class="mr-3" onclick="showUser('<%= @email.expediteur.id%>')">
              <div class="profile-photo">
                <span class="badge badge-primary rounded-circle text-white"  style="width: 50px; height: 50px; font-size: 24px; display: flex; justify-content: center; align-items: center;">
                  <%= @email.expediteur.nom[0].upcase + @email.expediteur.prenom[0].upcase %> <!-- Première lettre du nom -->
                </span>
            </div>
          </div>
          <div>
              <div class="small text-gray-500">Envoyé du <%= l(@email.created_at, format: :long) %></div>
              <p class="mb-0">De <%=@email.expediteur.email%></p>
              <p class="mt-0">  <%=@email.expediteur.nom.titleize+" "+@email.expediteur.prenom.titleize%></p>
          </div>
      </div>
      <div class="d-flex justify-content-between align-items-center" id="email-action" style="width: 20%;">
            <a href="" class="actionbtn" data-toggle="modal" data-target="#supprModal<%=@email.id%>"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Supprimer"></i></a>
            <% if @etat!="corb" %>
            <a  href="" data-toggle="modal" data-target="#transModal<%=@email.id%>" class="actionbtn mr-3"><i class="fa fa-share" data-toggle="tooltip" data-placement="top" title="Transferer"></i></a>
            <% end %>
            
            <% if @etat!="env" %>
            <a  href="" data-toggle="modal" data-target="#spamModal<%=@email.id%>" class="actionbtn">
                <% if @etat!="spam" %>
                <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Spam"></i>
                <% else %>
                <i class="fas fa-check-circle" data-toggle="tooltip" data-placement="top" title="Non Spam"></i>
                <% end %>
                
                </a>
             <% if @etat!="spam" %>
                <a href="<%= url_for(controller: 'emails', action: 'favoris', id: @email.id) %>" class="actionbtn" rel="nofollow">
                <%= @email.est_favoris ? '<i class="fa fa-star" data-toggle="tooltip" data-placement="top" title="Favoris"></i>'.html_safe : '<svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="18" height="24" stroke-width="2">
                    <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                </svg>'.html_safe %>
                </a>
            <% end %>
            
            <% if @etat!="fav" && @etat!="spam" %>
            <a href="" class="actionbtn" data-toggle="modal" data-target="#archModal<%=@email.id%>"><i class="fa fa-archive" data-toggle="tooltip" data-placement="top" title="Archiver"></i></a>
            <% end %>
            
            <a href="<%= url_for(controller: 'emails', action: 'non_lu', id: @email.id) %>" class="actionbtn" ><i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="top" title="Marquer non lu"></i></a>
            <% end %>
            
          </div>
      </div>
            <%= render partial: 'emails/modal_transfert', locals: { email: @email } %>
      
      <!-- Supprimer Modal-->
                        <div class="modal fade" id="supprModal<%=@email.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Êtes-vous sûre de suprrimer ce message ?</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                        <%= button_to "Oui",  url_for(controller: 'emails', action: 'supprimer',id:@email.id), method: :post, class:"btn btn-primary" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Archiver Modal-->
                        <div class="modal fade" id="archModal<%=@email.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Archiver</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Êtes-vous sûre <%= @email.est_archiver? ? "de désarchiver" : "d'archiver"%> ce message ?</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                        <%= button_to "Oui",  url_for(controller: 'emails', action: 'archiver',id:@email.id), method: :post, class:"btn btn-primary" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- Favoris Modal-->
                        <div class="modal fade" id="spamModal<%=@email.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Spam</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Êtes-vous sûre de considerer ce message comme  <%= @etat!="spam" ? "spam" : "non spam"%> ?</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                        <%= button_to "Oui",  url_for(controller: 'emails', action: 'spam',id:@email.id), method: :post, class:"btn btn-primary" %>
                                    </div>
                                </div>
                            </div>
                        </div>
     
      <p>
        <%= @email.corps.html_safe %>
      </p>
         
         <% if @email.pieces_jointes.length>0  %>
          <strong>Fichier joint :</strong>
         <% end %>
        
        <div class="d-flex mt-2">
       <% @email.pieces_jointes.each do |piece| %>
          <% if piece.content_type.start_with?('image/') %>
          <div class="card mr-3" style="width:200px;">
            <div class="card-body"><%= image_tag rails_blob_path(piece, disposition: "inline"), alt: piece.filename.to_s, style:"width:150px; heigt:150px" %></div>
            <div class="card-footer"><%= link_to " <div class='d-flex'><i class='fa fa-download mr-1'></i> <span class='w-70 d-block text-truncate'>#{piece.filename.to_s}</span>.#{piece.content_type.split('/')[1]}</div>".html_safe, rails_blob_path(piece, disposition: "attachment") %></div>
          </div>
            
          <% else %>
          <div class="card mr-3" style="width:200px;">
            <div class="card-body text-center">
                <i class='fa fa-file text-primary' style='font-size: 85px;'></i>
            </div>
            <div class="card-footer"><%= link_to " <div class='d-flex'><i class='fa fa-download mr-1'></i> <span class='w-70 d-block text-truncate'>#{piece.filename.to_s}</span>.#{piece.content_type.split('/')[1]}</div>".html_safe, rails_blob_path(piece, disposition: "attachment") %></div>
          </div>
            
          <% end %>
      <% end %>
        </div>
    </div>
</div>
                    
